# Determines function call
algorithm: ???
environment: ???

parameters:
  train_episodes: 1000 #250 # default: 2500; used only by temp_pdqn.py
  max_steps: 500 #250
  learning_steps: 300032 #400000 # Multiple of 2048
  cycles: 128 #20 # Factor of learning_steps
  seeds:
    - 1
    # - 2
    # - 3
    # - 4
    # - 5
    # - 6
    # - 7
    # - 8
    # - 9
    # - 10
    # - 11
    # - 12
    # - 13
    # - 14
    # - 15
  eval_episodes: 250

verbose: info
hydra:
  job:
    name: unnamed
  run:
    # dir: outputs/${hydra.job.name}/${now:%Y-%m-%d_%H-%M-%S}
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S_}${hydra.job.name}
